<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/vendor/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="js/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/style/style.css" media="screen">
    <title></title>
  </head>
  <body>
    <h1>Favorite Songs</h1>

  <h2>Add a new song:</h2>
    <form>
      <label id="name">Song Title:</label>
      <input type="text" name="name" required />
      <label id="artist">Artist:</label>
      <input type="text" name="artist" required />
      <input type="submit" />
    </form>
    <ul id='songs'>

    </ul>
  </body>
</html>
